body{
    background: #fffee8;
}
#quiz_area {
    margin: 2%;
    background-image: url('files/world.png');
    background-size: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center 50px;

}
.flex{
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
}
h1{
    align-items: center;
    width: 50%;
    margin: 10px auto;
    top: 15px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.card{
    position: relative;
}

.card{
    transition: 1.5s ease-in-out;
    transform-style: preserve-3d;
}

.card:hover{
    transform: rotateY(180deg);
}

.front, .back{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    position: absolute;
    backface-visibility: hidden;
}

.front, .back{
    font-family: 'Raleway', sans-serif;
    border-radius: 10%;
    text-align: center;
    opacity: 0.95;
}

.front{
    color:orange ;
    /*background-color: navajowhite;*/
    background: radial-gradient(navajowhite, chocolate 200%);
    text-shadow: cornsilk 0.1em 0.1em 0.2em;
}

.back{
    color:navajowhite ;
    /*background-color: orange;*/
    background: radial-gradient(orange, lemonchiffon 200%);
    text-shadow: black 0.1em 0.1em 0.2em;
}

.back {
    transform: rotateY(180deg);
}
